<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <defaultDocument>
        <files>
          <add value="app.html" />
        </files>
      </defaultDocument>
		  <rewrite>
		    <rules>
			    <!-- Maintenance mode -->
			    <rule name="maintenance-mode" enabled="false" stopProcessing="true">
			      <match url="(.*)" ignoreCase="true" />
			      <action type="Rewrite" url="/maintenance.html" />
			    </rule>
			    <rule name="Filename-based cache busting">
			      <match url="^(.+)\.\d+(\.(js|css|png|jpg|gif|ico)$)" />
			      <conditions>
				      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			      </conditions>
			      <action type="Rewrite" url="{R:1}{R:2}" />
			    </rule>
			    <rule name="Welcome/landing pages - No extension needed for plain html files">
			      <match url="^(welcome\/.+$)" />
			      <conditions>
				      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			      </conditions>
			      <action type="Rewrite" url="{R:1}.html" />
			    </rule>
          <rule name="Help Redirect" stopProcessing="true">
            <match url="^help(.*?)$" />
            <action type="Redirect" url="#!/help{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Terms Redirect" stopProcessing="true">
            <match url="^terms(.*?)$" />
            <action type="Redirect" url="#!/terms{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Privacy Settings Redirect" stopProcessing="true">
            <match url="^privacySettings(.*?)$" />
            <action type="Redirect" url="#!/privacySettings{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="View Booking Redirect" stopProcessing="true">
            <match url="^viewBooking(.*?)$" />
            <action type="Redirect" url="#!/viewBooking{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Inbox Booking Redirect" stopProcessing="true">
            <match url="^inbox/booking(.*?)$" />
            <action type="Redirect" url="#!/inbox/booking{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Booking Redirect" stopProcessing="true">
            <match url="^booking(.*?)$" />
            <action type="Redirect" url="#!/booking{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Reviews Redirect" stopProcessing="true">
            <match url="^reviews(.*?)$" />
            <action type="Redirect" url="#!/reviews{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Appointment Redirect" stopProcessing="true">
            <match url="^appointment(.*?)$" />
            <action type="Redirect" url="#!/appointment{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Profile Redirect" stopProcessing="true">
            <match url="^profile(.*?)$" />
            <action type="Redirect" url="#!/profile{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Reset Password Redirect" stopProcessing="true">
            <match url="^login/reset-password(.*?)$" />
            <action type="Redirect" url="#!/login/reset-password{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Auth Confirm Redirect" stopProcessing="true">
            <match url="^auth/confirm(.*?)$" />
            <action type="Redirect" url="#!/auth/confirm{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Download App Redirect" stopProcessing="true">
            <match url="^downloadApp(.*?)$" />
            <action type="Redirect" url="#!/downloadApp{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Dashboard Redirect" stopProcessing="true">
            <match url="^dashboard(.*?)$" />
            <action type="Redirect" url="#!/dashboard{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Signup Redirect" stopProcessing="true">
            <match url="^signup(.*?)$" />
            <action type="Redirect" url="#!/signup{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Suggested Postings Redirect" stopProcessing="true">
            <match url="^suggested-postings(.*?)$" />
            <action type="Redirect" url="#!/suggested-postings{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Become Owner Redirect" stopProcessing="true">
            <match url="^becomeOwner(.*?)$" />
            <action type="Redirect" url="#!/becomeOwner{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
          <rule name="Earnings Add Redirect" stopProcessing="true">
            <match url="^earnings-add(.*?)$" />
            <action type="Redirect" url="#!/earnings-add{R:1}" appendQueryString="false" redirectType="Found" />
          </rule>
		    </rules>
      </rewrite>
    </system.webServer>
</configuration>
