<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Channel" value="live" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LogSuccessSendMail" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Braintree.InSandbox" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stripe.ApiKey" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stripe.PublicKey" value="pk_live_51HNgvOFq818Ss6GW1IlZ0QtKloIvMHojX83P3f1qM5MCBpTs1X7rS8m0IHQzAbrbxtVmuWX6gtcwxsafWLR3JzEX00DJ7UTeBs" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stripe.RefreshUrl" value="https://loconomics.com.au/stripe-refresh" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stripe.ReturnUrl" value="https://loconomics.com.au/stripe-return" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="facebookAppId" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="facebookAppSecret" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="googleMapsPrivateKey" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="smtpUserName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="smtpPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="smtpEnableSsl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="useMock" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mockEndpoint" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="appClientUrl" value="https://loconomics.com.au" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=;Database=;User Id=;Password=;" name="sqlloco" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="loconomicsEntities" connectionString="metadata=res://*/Data.loconomics.csdl|res://*/Data.loconomics.ssdl|res://*/Data.loconomics.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=;Database=;User Id=;Password=;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <customErrors mode="On" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <trace enabled="false" xdt:Transform="Remove" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" xdt:Transform="Remove" />
    </modules>
    <handlers>
      <remove name="WebDAV" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </handlers>
    <rewrite>
      <rules>
        <!-- General HTTP to HTTPS redirect only for live site -->
        <rule name="HTTP to HTTPS redirect" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?loconomics\.com\.au$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://loconomics.com.au/{R:1}" />
        </rule>

        <!-- Just one domain/entry point: redirect 'www.' to canonical domain -->
        <rule name="WWW to domain redirect" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^www\.loconomics\.com\.au$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://loconomics.com.au/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="Replace" />
    <httpErrors existingResponse="PassThrough" xdt:Transform="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Errors/Error404/" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" xdt:Transform="Insert" />
    <modules runAllManagedModulesForAllRequests="true" xdt:Transform="Insert" />
    <security>
      <requestFiltering>
        <fileExtensions xdt:Transform="Insert">
          <remove fileExtension=".cshtml"/>
          <add fileExtension=".cshtml" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>