<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<configSections>
    <section name="basicAuth" type="Devbridge.BasicAuthentication.Configuration.BasicAuthenticationConfigurationSection" xdt:Transform="Insert" />
  </configSections>-->
  <appSettings>
    <!--<add key="BasicAuthEnabled" value="true" xdt:Transform="Insert" />-->
    <add key="Channel" value="localdev" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LogSuccessSendMail" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stripe.RefreshUrl" value="http://localhost/loconomics/stripe-refresh" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Stripe.ReturnUrl" value="http://localhost/loconomics/stripe-refresh" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="appClientUrl" value="https://localdev.loconomics.com.au" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <!--<modules>
      <add name="MyBasicAuthenticationModule" type="Devbridge.BasicAuthentication.BasicAuthenticationModule" xdt:Transform="Insert"/>
    </modules>-->
    <validation validateIntegratedModeConfiguration="false" xdt:Transform="Insert" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://localdev.loconomics.com.au"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--<basicAuth xdt:Transform="Insert">
    <credentials>
      <add username="" password=""/>
    </credentials>
  </basicAuth>-->
</configuration>